extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Jesse Martin

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I am a self-driven programmer with a passion for coding since the age of 14, initially learning to make mods for video games. Throughout my journey, I've continuously expanded my knowledge of programming, particularly in full-stack development in recent years, with a strong ability to quickly identify gaps in understanding and close them through self-directed learning. Though I’ve been held back by imposter syndrome, which delayed the creation of my personal portfolio, I have recently overcome this hurdle. <br>
          p Currently pursuing a Master’s degree in Computer Science at CU Boulder, starting in January 2024, with a focus on Artificial Intelligence. I am expected to graduate in May 2026, and I am eager to deepen my expertise by beginning coursework in January 2025. My ability to learn rapidly, coupled with my deep curiosity, drives me to explore beyond the curriculum, making me a strong candidate with a unique ability to adapt and excel. I am steadily overcoming self-doubt and am committed to continued personal and professional growth.



      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Adaptability 
          li SQL 
          li Unity 
          li Wordpress 
          li React.js
          li C#
          li Python
          li Machine Learning


        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 518-618-5166
          li jessemartin2000@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/krashe') LinkedIn
        a.btn-link(href='https://github.com/Kr4sh3') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back